@media screen and (min-width: 900px) {
    #main-header {
        grid-template-columns: 200px 1fr 1fr;
    }
    #loggedin img, #loggedout img {
        width: 15%;
    }
    .logolink {
        margin: 0 2%;
        border-radius: 50%;
    }
    .logo {
        max-width: 100%;
    }
    #tools {
        grid-column: 3/4;
    }

    #menu {
        display: none;
    }
    .navigation {
        display: flex;
		flex-direction: row;
        margin: 0.3% 0;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
    nav ul li {
        margin-bottom: unset;
    }
    nav ul li:nth-of-type(1){
        margin-top: unset;
    }
    .types {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .order-types {
        grid-template-columns: repeat(4, 1fr);
    }

    .order-type-card {
        padding: 40px;
    }

    .order-type-card h3 {
        font-size: 1.5em;
    }

    form {
        width: 50%;
    }
    .form-actions {
        flex-direction: row;
        justify-content: flex-end;
        max-width: 80%;
    }
    .form-grid {
        margin: 0 5%;
    }
}