
<h1>Create New Window Screen Order</h1>

<form id="form" action="/orders/create" method="post">
    <div class="container">
        <label><b>Quantity</b>
            <input type="text" name="quantity" id="">
        </label><br>
        <label><b>Fab</b>
            <select name="fab" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
            </select>
        </label><br>
        <label><b>Frame</b>
            <select name="frame" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
            </select>
        </label><br>
        <label><b>Color</b>
            <select name="color" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
            </select>
        </label><br>
        <label><b>Width</b>
            <select name="width" id="">
                <input type="text" name="width_input" id="">
            </select>
        </label><br>
        <label><b>W / F</b>
            <select name="measurement_name" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option>
                <option value="">9</option>
                <option value="">10</option>
                <option value="">11</option>
                <option value="">12</option>
                <option value="">13</option>
                <option value="">14</option>
                <option value="">15</option>
            </select>
        </label><br>
        <label><b>+ / -</b>
            <select name="plus_minus" id="">
                <option value="">1</option>
                <option value="">2</option>
            </select>
        </label><br>
        <label><b>Height</b>
            <select name="height" id="">
                <input type="text" name="height_input" id="">
            </select>
        </label><br>
        <label><b>H / F</b>
            <select name="height_fraction" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option>
                <option value="">9</option>
                <option value="">10</option>
                <option value="">11</option>
                <option value="">12</option>
                <option value="">13</option>
                <option value="">14</option>
                <option value="">15</option>
            </select>
        </label><br>
        <label><b>+ / -</b>
            <select name="plus_minus" id="">
                <option value="">1</option>
                <option value="">2</option>
            </select>
        </label><br>
        <label><b>Tabs</b>
            <select name="tabs" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
            </select>
        </label><br>
        <label><b>Spring</b>
            <select name="spring" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
            </select>
        </label><br>
        <label><b>Mesh</b>
            <select name="mesh" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
            </select>
        </label><br>
        <label><b>Fasteners</b>
            <select name="fasteners" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option>
                <option value="">9</option>
                <option value="">10</option>
                <option value="">11</option>
                <option value="">12</option>
            </select>
        </label><br>
        <label><b>Fastener Location</b>
            <input type="text" name="fastener_location" id="">
        </label><br>
        <label><b>Notes</b>
            <input type="text" name="notes" id="">
        </label><br>

        <label><b>Order Type</b>
            <select name="order_type" id="">
                <option value="phone">Phone Order</option>
                <option value="in_person">On-Site Order</option>
            </select>
        </label><br>

        <button type="submit">Create Order</button>
    </div>
</form>