<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <%- messages() %>
        <% if (errors) { %>
            <ul id="errorList" class="notice error">
                <% errors.array().forEach(error=> { %>
                    <li>
                        <%= error.msg %>
                    </li>
                    <% }) %>
            </ul>
            <% } %>
<div>
    <!-- <form action="/orders/createRainier" method="post">
        <div class="container">
            <label><b>Choose an order type:</b>
                <select name="order_type" id="type">
                    <option value="nws">New Window Screen</option>
                    <option value="rainier">Rainier</option>
                    <option value="mirage">Mirage</option>
                    <option value="mirage_3500">Mirage 3500</option>
                </select></label>
                <button class="formbtn"
                type="submit">Submit</button>
        </div>
    </form> -->
        <label><b>Choose an Order Type:</b></label>
        <div class="types">
            <a href="/orders/createRainier">Rainier</a>
            <a href="/orders/createNWS">New Window Screen</a>
            <a href="/orders/createMirage">Mirage</a>
            <a href="/orders/createMirage3500">Mirage 3500</a>
        </div>
</div>