<% if (title) { %>
    <h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<%- messages() %>

<% if (errors) { %>
    <ul id="errorList" class="notice error">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>

<div class="form-grid">
    <fieldset class="full-width">
        <legend>Select Order Type</legend>
        <p class="order-type-intro">Choose the product you want to order:</p>
        <div class="order-types">
            <a href="/orders/createRainier" class="order-type-card">
                <h3>Rainier</h3>
            </a>
            <a href="/orders/createNWS" class="order-type-card">
                <h3>New Window Screen</h3>
            </a>
            <a href="/orders/createMirage" class="order-type-card">
                <h3>Mirage</h3>
            </a>
            <a href="/orders/createMirage3500" class="order-type-card">
                <h3>Mirage 3500</h3>
            </a>
        </div>
    </fieldset>
</div>