<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>
        <%- messages() %>
        <% if (errors) { %>
            <ul id="errorList" class="notice error">
                <% errors.array().forEach(error=> { %>
                    <li>
                        <%= error.msg %>
                    </li>
                    <% }) %>
            </ul>
            <% } %>


<h1>Create Mirage 3500 Order</h1>

<form action="" method="post">
    <div class="container">
        <label for="top_opening_width">
            <input type="text" name="top_opening_width" id="top_opening_width">
        </label><br>
        <label for="top_opening_width_fraction">
            <select name="top_opening_width_fraction" id="top_opening_width_fraction">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option>
                <option value="">9</option>
                <option value="">10</option>
                <option value="">11</option>
                <option value="">12</option>
                <option value="">13</option>
                <option value="">14</option>
                <option value="">15</option>
            </select>
        </label><br>

        <label for="middle_opening_width">
            <input type="text" name="middle_opening_width" id="middle_opening_width">
        </label><br>
        <label for="middle_opening_width_fraction">
            <select name="middle_opening_width_fraction" id="middle_opening_width_fraction">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option>
                <option value="">9</option>
                <option value="">10</option>
                <option value="">11</option>
                <option value="">12</option>
                <option value="">13</option>
                <option value="">14</option>
                <option value="">15</option>
            </select>
        </label><br>

        <label for="middle_opening_width">
            <input type="text" name="middle_opening_width" id="middle_opening_width">
        </label><br>
        <label for="bottom_opening_width_fraction">
            <select name="bottom_opening_width_fraction" id="bottom_opening_width_fraction">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option>
                <option value="">9</option>
                <option value="">10</option>
                <option value="">11</option>
                <option value="">12</option>
                <option value="">13</option>
                <option value="">14</option>
                <option value="">15</option>
            </select>
        </label><br>

        <label for="left_opening_height">
            <input type="text" name="left_opening_height" id="left_opening_height">
        </label><br>
        <label for="left_opening_height_fraction">
            <select name="left_opening_height_fraction" id="left_opening_height_fraction">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option>
                <option value="">9</option>
                <option value="">10</option>
                <option value="">11</option>
                <option value="">12</option>
                <option value="">13</option>
                <option value="">14</option>
                <option value="">15</option>
            </select>
        </label><br>

        <label for="middle_opening_height">
            <input type="text" name="middle_opening_height" id="middle_opening_height">
        </label><br>
        <label for="middle_opening_height_fraction">
            <select name="middle_opening_height_fraction" id="middle_opening_height_fraction">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option>
                <option value="">9</option>
                <option value="">10</option>
                <option value="">11</option>
                <option value="">12</option>
                <option value="">13</option>
                <option value="">14</option>
                <option value="">15</option>
            </select>
        </label><br>

        <label for="right_opening_height">
            <input type="text" name="right_opening_height" id="right_opening_height">
        </label><br>
        <label for="right_opening_height_fraction">
            <select name="right_opening_height_fraction" id="right_opening_height_fraction">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option>
                <option value="">9</option>
                <option value="">10</option>
                <option value="">11</option>
                <option value="">12</option>
                <option value="">13</option>
                <option value="">14</option>
                <option value="">15</option>
            </select>
        </label><br>

        <label for="top_level">
            <select name="top_level" id="top_level">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
            </select>
        </label>

        <label for="bottom_level">
            <input type="text" name="bottom_level" id="bottom_level">
        </label>

        <label for="left_plumb">
            <input type="text" name="left_plumb" id="left_plumb">
        </label>

        <label for="right_plumb">
            <input type="text" name="right_plumb" id="right_plumb">
        </label>

        <label for="starting_point">
            <input type="text" name="starting_point" id="starting_point">
        </label>

        <!-- Single or Dbl to be placed here (create a table for specifically the mirages)-->

        <label for="mount">
            <input type="text" name="mount" id="mount">
        </label>
        <!-- in Vs Surface -->

        <!-- handing to be placed here (create a table for specifically the mirages)-->

        <label for="color">
            <input type="text" name="color" id="color">
        </label>

        <label for="handle">
            <input type="text" name="handle" id="handle">
        </label>

        <label for="handle_color">
            <input type="text" maxlength="10" name="handle_color" id="handle_color">
        </label>

        <label for="top_adapter">
            <input type="text" name="top_adapter" id="top_adapter">
        </label>

        <!-- top adapter color goes here -->

        
    </div>
</form>